@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100&family=Sulphur+Point:wght@300&display=swap');

:root {
    --bg-primary: #191919;
    --bg-secondary: #202020;
    --bg-tertiary: #252525;
    --color-primary: #FCF5E5;
    --color-secondary: #E2DFD2;
    --color-tertiary: #606060;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-tertiary);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--color-tertiary);
}

body {
    background-color: var(--bg-primary);
    margin: auto;
    height: 100vh;
    padding: 30px 50px;
}

.mainContainer{
    background-color: var(--bg-secondary);
    height: 80vh;
    margin-bottom: 100px;
}

h1 {
    color: var(--color-primary);
    font-family: "Kumbh Sans", sans-serif;
    font-size: 75px;
    margin-bottom: 1px;
}

h3 {
    color: var(--color-secondary);
    font-family: "Sulphur Point", sans-serif;
    font-size: 27px;
}

.input-group {
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.1);
}

.input-group-text, .form-control, .form-control:focus {
    background-color: var(--bg-tertiary);
    font-family: "Sulphur Point", sans-serif;
    border-width: 0;
    box-shadow: 0 0 0 0;
    color: var(--color-secondary);
    resize: None;
}

.form-control {
    padding: 15px;
    font-size: 20px;
}

.form-control::placeholder {
    color: var(--color-tertiary);
    font-family: "Sulphur Point", sans-serif;
    font-size: 20px;
    letter-spacing: 3px;
}

